<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Merb OpenID Consumer Example Application</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/themes/light/light.tabs.css" type="text/css" media="screen" charset="utf-8" />
    <%= js_include_tag :jquery, :'jquery.ui', :application %>
  </head>
  <body>
    <div id="main"><h1>Merb+OpenID</h1><h2>By Corey Donohoe</h2></div>

    <div id="linkbar">
      <div id="navcontainer">
        <ul id="navlist">
        <% unless session.user %>
          <li><span><a href="#main_content">Login</a></span></li>
        <% else %>
          <li><span><a href="#main_content">User Info</a></span></li>
        <% end %>
          <li><span><a href="#where_am_i">Where am I?</a></span></li>
        </ul>
      </div>
    </div>

    <div id="top_content">
    
    <!-- <blockquote><p>If you hear a voice within you say &quot;you cannot paint,&quot; then by all means paint, and that voice will be silenced.<br />
      Vincent Van Gogh</p></blockquote> -->

    </div>

    <div id="main_content">
        <%#= message[:notice] %>
        <%= catch_content :for_layout %>
    </div>
    <div id="where_am_i" style="display: none;">
      <h3>37Signals on OpenID</h3>
      <p>
          An OpenID is a single username and password that lets you login to 
          any OpenID-enabled site. OpenID makes remembering different usernames 
          and passwords for different sites a thing of the past<a href="http://www.37signals.com/openid/">(more...)</a>.
      </p>
    </div>
    
    <div id="footer">
      &copy; <a href="http://www.csstemplateheaven.com">www.csstemplateheaven.com</a>. Design by Dieter Schneider 2006
    </div>
  </body>
</html>