<form method="POST" action="/openid">
  <input type="text" name="openid_url" >
  <!-- optional hidden value used in requesting unprotected OpenID login page scenario -->
  <!-- <input type="hidden" name="postLoginTargetURI" value="secure/index.gt"> -->
  <input type="submit" name="submit" value="Login" />
</form>