<h3>Please Choose an OpenID Provider</h3>
<form method="POST" action="/openid/login">
  <input type="text" name="openid_url" >
  <!-- optional hidden value used in requesting unprotected OpenID login page scenario -->
  <input type="hidden" name="postLoginTargetURI" value="/users"><br /><br />
  <input type="submit" name="submit" value="Login" class="submit" />
</form>